.main-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.comments-section {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  justify-content: space-between;
  width: 80%;
}

.comments-list-section {
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.hero-image {
  margin-left: 40px;
}

.align-hero-section {
  display: flex;
}

@media all and (max-width: 767px) {
  .align-hero-section {
    flex-direction: column;
    align-items: center;
  }
  .hero-image {
    width: 300px;
    height: 250px;
  }
}

.comments-heading {
  font-weight: bold;
  margin-bottom: 30px;
}

.input-fields {
  border: 1px #cbd2d9 solid;
  width: 100%;
  padding: 9px 10px;
  font-size: 15px;
  outline: none;
  margin-bottom: 18px;
}

.add-comment-btn {
  background-color: #0284c7;
  color: #dee0e3;
  cursor: pointer;
  border: 0;
  padding: 11px 15px;
  margin: 15px 0px;
  border-radius: 7px;
}

.form-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.counter-section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.divider {
  height: 1px;
  background-color: #cbd2d9;
  width: 80%;
  border: 0px solid;
  margin: 20px 0px;
}

.all-comments {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 80%;
}

.comments-counter {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0284c7;
  width: 30px;
  height: 30px;
  color: #dee0e3;
  text-align: center;
  border: 0;
  border-radius: 6px;
  margin-right: 10px;
}
